version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    env_file:
      - ../.env
    ports:
      - "3000:80"

  web-dev:
    profiles:
      - dev
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: dev
    env_file:
      - ../.env
    ports:
      - "5173:5173"
    volumes:
      - ..:/app
      - /app/node_modules
